<span itemprop="author" itemscope itemtype="http://schema.org/Person">
  <img class="blogged-by-img" src="{{author.image}}" alt=""><span class="blogged-by"><a href="{{author.website}}" rel="author" itemprop="url name">{{author.name}}</a></span>
</span>
