<ul>
  <li><a href="{{@blog.url}}"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="{{@blog.url}}/about"><i class="fa fa-user"></i> About</a></li>
  <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> Subscribe</a></li>
</ul>
