<li class="side-header">Links</li>
<li><a href="/">Home </a></li>
<li><a href="/about">About me</a></li>
<li><a href="/rss">RSS</a></li>


<li class="side-header">Follow Me</li>
<li><a href="https://twitter.com/mholland1337" target="_blank">Twitter</a></li>
<li><a href="https://github.com/mholland1337" target="_blank">Github</a></li>
