<li class="side-header">Links</li>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/projects">Projects</a></li>


<li class="side-header">Follow</li>
<li><a href="https://github.com/rkho" target="_blank">Github</a></li>
<li><a href="http://stackoverflow.com/users/2694800/richard-kho" target="_blank">Stack Overflow</a></li>
<li><a href="http://quora.com/Richard-Kho" target="_blank">Quora</a></li>
<li><a href="https://twitter.com/rkho" target="_blank">Twitter</a></li>
<li><a href="mailto:hello.fromblog@richardkho.com">Email</a></li>
