<ul>
    <li><a href="https://twitter.com/mholland_" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="https://github.com/mholland1337" target="_blank"><i class="fa fa-github-square"></i></a></li>
    <li><a href="mailto:mholland1337@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
</ul>
