@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900);
/* line 33, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 174, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 181, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 188, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 196, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 203, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 216, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 228, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 235, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 239, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 253, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 264, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 270, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 283, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 289, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 300, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 311, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 316, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 325, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 339, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 349, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 358, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 372, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 380, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 389, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 399, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 409, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 415, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 422, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 434, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/partials/_fonts.scss */
h2 {
  font-size: 31px;
  line-height: 1.4em;
}

/* line 12, ../sass/partials/_fonts.scss */
p {
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 400;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 18, ../sass/partials/_page.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/partials/_page.scss */
body {
  /* this is important if you dont want to see the ugly scroll bar on the bottom */
  overflow-x: hidden;
}
/* line 26, ../sass/partials/_page.scss */
body a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 30, ../sass/partials/_page.scss */
body a:hover {
  color: #00aeef;
  cursor: pointer;
}
/* line 37, ../sass/partials/_page.scss */
body .height-100 {
  height: 100%;
}
/* line 40, ../sass/partials/_page.scss */
body .page-wrapper, body #sidebar {
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
/* line 44, ../sass/partials/_page.scss */
body .page-wrapper {
  position: relative;
  left: 0px;
  width: 100%;
  z-index: 0;
}
/* line 50, ../sass/partials/_page.scss */
body .page-wrapper.opened {
  left: 200px;
}
/* line 55, ../sass/partials/_page.scss */
body .sidebar {
  position: fixed;
  top: 0px;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #191918;
  color: #b3b3b1;
  z-index: 1;
}
/* line 68, ../sass/partials/_page.scss */
body .sidebar.opened {
  left: 0px;
}
/* line 71, ../sass/partials/_page.scss */
body .sidebar ul {
  padding: 20px 40px;
  margin: 0;
  list-style: none;
}
/* line 75, ../sass/partials/_page.scss */
body .sidebar ul li {
  padding: 8px 0;
  font-weight: 400;
  font-size: 1em;
}
/* line 79, ../sass/partials/_page.scss */
body .sidebar ul li:first-child {
  margin-top: 10px;
}
/* line 83, ../sass/partials/_page.scss */
body .sidebar ul li a:hover {
  color: white;
}
/* line 88, ../sass/partials/_page.scss */
body .sidebar ul li i {
  margin-right: 10px;
}
/* line 91, ../sass/partials/_page.scss */
body .sidebar ul li:last-child {
  padding-bottom: 0;
}
/* line 98, ../sass/partials/_page.scss */
body .navbar {
  position: fixed;
  z-index: 100;
}
/* line 101, ../sass/partials/_page.scss */
body .navbar .menu-btn {
  top: 10px;
  left: 10px;
  border: none;
  background: #333332;
  color: white;
  width: 44px;
  height: 44px;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
}
/* line 115, ../sass/partials/_page.scss */
body .navbar.opened {
  left: 200px;
}
/* line 120, ../sass/partials/_page.scss */
body .navbar-safari {
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
/* line 122, ../sass/partials/_page.scss */
body .navbar-safari.opened {
  left: 200px;
}
/* line 126, ../sass/partials/_page.scss */
body .top-header {
  width: 100%;
  height: 450px;
  background-color: #191918;
}
/* line 130, ../sass/partials/_page.scss */
body .top-header-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* line 139, ../sass/partials/_page.scss */
body .header {
  max-width: 640px;
  margin: auto;
  text-align: center;
  color: white;
}
/* line 147, ../sass/partials/_page.scss */
body .header h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 48px;
}
/* line 154, ../sass/partials/_page.scss */
body .header h2 {
  font-size: 16px;
  margin: 0;
  padding: 8px 0;
  padding: 8px 0px 20px;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
}
/* line 164, ../sass/partials/_page.scss */
body .header ul {
  padding: 0;
  list-style: none;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}
/* line 170, ../sass/partials/_page.scss */
body .header ul li {
  display: inline;
  margin-right: 10px;
}
/* line 173, ../sass/partials/_page.scss */
body .header ul li:last-child {
  margin-right: 0;
}
/* line 181, ../sass/partials/_page.scss */
body .align-content {
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -50%;
  */
  margin-top: 142px;
}
/* line 190, ../sass/partials/_page.scss */
body .main-container {
  max-width: 730px !important;
}
/* line 194, ../sass/partials/_page.scss */
body .post {
  max-width: 300px;
  margin: auto;
  display: none;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333332;
  border-bottom: 1px solid #f2f2f0;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
/* line 208, ../sass/partials/_page.scss */
body .post hr {
  border: 1px solid #f2f2f0;
}
/* line 212, ../sass/partials/_page.scss */
body .post input {
  border: 1px solid #cccccc;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 300;
}
/* line 219, ../sass/partials/_page.scss */
body .post .post-photo:hover, body .post .photoset-img:hover {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}
/* line 225, ../sass/partials/_page.scss */
body .post img, body .post iframe, body .post object, body .post object embed {
  width: 100% !important;
  margin: 1em 0 0 0;
}
/* line 230, ../sass/partials/_page.scss */
body .post header {
  padding-bottom: 8px;
}
/* line 232, ../sass/partials/_page.scss */
body .post header h2 {
  font-weight: 700;
  margin: 0;
}
/* line 236, ../sass/partials/_page.scss */
body .post header img, body .post header iframe, body .post header object, body .post header object embed {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 242, ../sass/partials/_page.scss */
body .post blockquote {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
  border-left: 2px solid #00aeef;
  margin-left: 10px;
  padding-left: 10px;
}
/* line 259, ../sass/partials/_page.scss */
body .post section {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
}
/* line 268, ../sass/partials/_page.scss */
body .post section p, body .post section blockquote {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
/* line 273, ../sass/partials/_page.scss */
body .post section a {
  text-decoration: underline;
}
/* line 275, ../sass/partials/_page.scss */
body .post section a:hover {
  text-decoration: none;
}
/* line 279, ../sass/partials/_page.scss */
body .post section h1, body .post section h2, body .post section h3, body .post section h4, body .post section h5, body .post section h6 {
  color: #333332;
  font-weight: 700;
}
/* line 283, ../sass/partials/_page.scss */
body .post section h1 {
  font-size: 2em;
}
/* line 284, ../sass/partials/_page.scss */
body .post section h2 {
  font-size: 1.5em;
}
/* line 285, ../sass/partials/_page.scss */
body .post section h3 {
  font-size: 1.17em;
}
/* line 286, ../sass/partials/_page.scss */
body .post section h4 {
  font-size: 1em;
}
/* line 287, ../sass/partials/_page.scss */
body .post section h5 {
  font-size: 0.83em;
}
/* line 288, ../sass/partials/_page.scss */
body .post section h6 {
  font-size: 0.67em;
}
/* line 291, ../sass/partials/_page.scss */
body .post footer {
  color: #b3b3b1;
  font-size: 18px;
  margin-top: 40px;
}
/* line 296, ../sass/partials/_page.scss */
body .post footer .blogged-by-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 25px !important;
  margin-top: 0;
  margin-right: 10px;
  float: left;
}
/* line 303, ../sass/partials/_page.scss */
body .post footer .blogged-by {
  float: left;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  top: 2px;
}
/* line 311, ../sass/partials/_page.scss */
body .post footer ul {
  padding: 0;
  padding-top: 2px;
  padding-bottom: 10px;
  list-style: none;
}
/* line 316, ../sass/partials/_page.scss */
body .post footer ul li {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
/* line 320, ../sass/partials/_page.scss */
body .post footer ul li:last-child {
  margin-right: 0;
}
/* line 327, ../sass/partials/_page.scss */
body .post .permalink-h2 {
  font-size: 24px;
  font-weight: 600;
}
/* line 331, ../sass/partials/_page.scss */
body .post .actions {
  float: right;
  margin-top: 5px;
}
/* line 334, ../sass/partials/_page.scss */
body .post .actions .notes {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  margin-top: 1px;
  color: #cccccc;
}
/* line 342, ../sass/partials/_page.scss */
body .post .tags {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 349, ../sass/partials/_page.scss */
body .pagination {
  max-width: 640px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
/* line 355, ../sass/partials/_page.scss */
body .site-footer {
  color: #b3b3b1;
  font-weight: 300;
  font-size: 16px;
  max-width: 300px;
  margin: auto;
  padding: 30px 0;
}

/* line 365, ../sass/partials/_page.scss */
.adsense {
  display: none;
  margin: auto;
  padding-top: 30px;
}
/* line 369, ../sass/partials/_page.scss */
.adsense iframe {
  border: 1px solid #f2f2f0;
}

/* line 7, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  /* line 10, ../sass/partials/_media.scss */
  body .post {
    max-width: 640px;
  }
  /* line 13, ../sass/partials/_media.scss */
  body .page-wrapper {
    position: relative;
    left: 0px;
    width: 100%;
    z-index: 0;
  }
  /* line 19, ../sass/partials/_media.scss */
  body .page-wrapper.opened {
    left: 280px;
  }
  /* line 23, ../sass/partials/_media.scss */
  body .sidebar {
    left: -280px;
    width: 280px;
  }
  /* line 26, ../sass/partials/_media.scss */
  body .sidebar.opened {
    left: 0px;
  }
  /* line 31, ../sass/partials/_media.scss */
  body .navbar.opened {
    left: 280px;
  }
  /* line 35, ../sass/partials/_media.scss */
  body .navbar-safari {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
  }
  /* line 37, ../sass/partials/_media.scss */
  body .navbar-safari.opened {
    left: 280px;
  }
  /* line 42, ../sass/partials/_media.scss */
  body .site-footer {
    max-width: 640px;
  }
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  /* line 51, ../sass/partials/_media.scss */
  body .post {
    max-width: 640px;
  }
  /* line 54, ../sass/partials/_media.scss */
  body .page-wrapper {
    position: relative;
    left: 0px;
    width: 100%;
    z-index: 0;
  }
  /* line 60, ../sass/partials/_media.scss */
  body .page-wrapper.opened {
    left: 280px;
  }
  /* line 64, ../sass/partials/_media.scss */
  body .sidebar {
    left: -280px;
    width: 280px;
  }
  /* line 67, ../sass/partials/_media.scss */
  body .sidebar.opened {
    left: 0px;
  }
  /* line 72, ../sass/partials/_media.scss */
  body .navbar.opened {
    left: 280px;
  }
  /* line 76, ../sass/partials/_media.scss */
  body .navbar-safari {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
  }
  /* line 78, ../sass/partials/_media.scss */
  body .navbar-safari.opened {
    left: 280px;
  }
  /* line 83, ../sass/partials/_media.scss */
  body .site-footer {
    max-width: 640px;
  }
}
@media print {
  /* line 11, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
